*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    flex-direction: column;
}
nav{
    background-color: rgb(39,116,243);
    padding: 0.3em;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 5px;
}
nav a{
    padding: 0px;
    padding-left: 5%;
    text-decoration: none;
    color: white;
}
#search, #submit_button{
    padding: 5px;
    border: 1px solid white;
    border-radius: 3px;
    margin-left: 0.3em;
} 
#search{
    width: 35%;
}
main{
    flex-basis: 100%;
}

#categories_container{
    flex-basis: 100%;
    padding: 1em;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.category{
    /* border: 2px solid rgb(127, 173, 247); */
    border-radius: 3px;
    box-shadow: 1px 1px 4px;
    flex-basis: 100%;
    /* height: 6em; */
    float: left;
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.3em;
    color: rgb(127, 173, 247);
}
.category:hover{
    cursor: pointer;
}

span{
    font-size: 5em;
}

#places{
    flex-basis: 100%;
    background-color: rgb(39,116,243);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* display: none; */
}

#places #filter_settings{
    background-color: rgb(39,116,243);
    padding: 0.7em;
    flex-basis: 100%;   
}
#placecard_container{
    flex-basis: 100%;
}
.placecard{
    border: 1px solid white;
    flex-basis: 100%;
    cursor: pointer;
    padding: 0.3em;
}
.placecard img{
    height: 75px;
    width: 100%;
}
@media  screen and (min-width:720px) {
    .category{
        flex-basis: 40%;
    }
    #places{
        display: flex;
    }
    .placecard{
        flex-basis: 45%;
    }
}